body{
    background-color:orange;
 }

 h1{
 	background-color:#403F4C
 	border-style: solid;
 	border-width: 200px;
 	border-color:black;
 	padding:10px;
 	text-align:center;
 	marker-mid: 
 	background-image:url(lamp); 


 }


 .first-style-addition{
 padding:10px;
 border-style:solid;
 background-color:red;
 text-decoration-color: black;
 text-align:justify;
 text-decoration: overline 
 word-spacing:10px;
 text-indent: 50px;
 border-color:yellow;
 }
 .side-panel #test
 text-allign: 










